.container {
  width: auto;
  margin: 0 auto;
}

@media (max-width: auto) {
/* For a screen < 960px, this CSS will be read */
  .container {
    width: auto;
  }
}
@media (max-width: auto) {
/* For a screen < 720px, this CSS will be read */
  .container {
    width: auto;
  }
}
@media (max-width: auto) {
/* For a screen < 540px, this CSS will be read */
  .container {
    width: auto;
  }
}
